.navbar {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2e2e00;
  transition: all 0.5s ease-in;
  z-index: 9999;
}

.navbar.scrolled {
  background-color: #2e2e2e;
  position: fixed;
  top: 0;
  left: 0;
}

.logo img {
  width: 50px;
  cursor: pointer;
}

.navigation ul {
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.navigation ul li {
  text-align: center;
  padding: 0.5em;
  cursor: pointer;
  height: 100%;
}

.navigation ul li a {
  text-decoration: none;
  color: #979797;
}

.navigation ul li:hover {
  cursor: pointer;
  background-color: #4949497e;
  border-radius: 100px;
}

.navigation ul li:hover a {
  color: white;
}

.navigation ul .menu-selected {
  background-color: #494949 !important;
  border-radius: 100px;
}

.navigation ul .menu-selected a {
  color: white;
}