.app {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.home {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.parent-button {
  margin-left: 15px;
  padding: 3px;
  background: 
    linear-gradient(#272727, #272727) padding-box,
    linear-gradient(to right, rgb(145, 145, 255), darkorchid) border-box;
}

.button {
  background: #272727 repeat-x top left; float: left;
}